# Pertemuan 5

## Latihan 1

In [7]:
# 1-10 bersilangan dengan 10-1
x=1
y=10
while x<=10:
    print(x, end="")
    print(y, end="")
    x=x+1
    y=y-1

1102938475665748392101

## Latihan 2

In [8]:
awal = int(input("Masukan saldo awal\t:"))
sisa = awal #bila tidak ada pengeluaran
while (True):
    pengeluaran = int(input("Masukan pengeluaran hari ini (-1 untuk keluar): "))
    if pengeluaran ==-1: #untuk berhenti
        print("Sisa saldo = ", sisa) #sisa bila di berhentikan
        break
    sisa = sisa - pengeluaran
    if sisa <0:
        print("Saldo tidak cukup")
        print("Sisa saldo ", sisa+pengeluaran)
        break

Masukan saldo awal	:10000
Masukan pengeluaran hari ini (-1 untuk keluar): 5000
Masukan pengeluaran hari ini (-1 untuk keluar): 3000
Masukan pengeluaran hari ini (-1 untuk keluar): 7000
Saldo tidak cukup
Sisa saldo  2000

## Latihan 3

In [9]:
num = int(input("Perkalian tabel dari:"))
for i in range (1,11):
    print(num,"x", i, "=", num*i)

Perkalian tabel dari:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## Latihan 4

In [3]:
2#rata-rata
jumlah_data=0
data=1

banyak_data=int(input("Masukan banyak data="))

while data <= banyak_data:
    nilai_data = int(input("Masukan angka:"))
    jumlah_data += nilai_data
    data += 1

    rata_rata = jumlah_data/banyak_data
print("rata-rata = ",rata_rata)

Masukan banyak data=3
Masukan angka:2
Masukan angka:3
Masukan angka:5
rata-rata =  3.3333333333333335

## Latihan 5

In [4]:
#Deklarasi variabel
var_nilai = 0
var_i = 1
#Perulangan FOR
for var_nilai in range (0,10) :
    print("Perulangan pertama Ke ",var_nilai)
    for var_i in range (1,3) :
        print(" Perulangan ke ", var_nilai,", ",var_i)
    #diluar perulangan var_i
    var_i = 1
#diluar_perulangan var_nilai
print("var_nilai = ",int(var_nilai)+1," = 10. Bernilai False")

Perulangan pertama Ke  0
 Perulangan ke  0 ,  1
 Perulangan ke  0 ,  2
Perulangan pertama Ke  1
 Perulangan ke  1 ,  1
 Perulangan ke  1 ,  2
Perulangan pertama Ke  2
 Perulangan ke  2 ,  1
 Perulangan ke  2 ,  2
Perulangan pertama Ke  3
 Perulangan ke  3 ,  1
 Perulangan ke  3 ,  2
Perulangan pertama Ke  4
 Perulangan ke  4 ,  1
 Perulangan ke  4 ,  2
Perulangan pertama Ke  5
 Perulangan ke  5 ,  1
 Perulangan ke  5 ,  2
Perulangan pertama Ke  6
 Perulangan ke  6 ,  1
 Perulangan ke  6 ,  2
Perulangan pertama Ke  7
 Perulangan ke  7 ,  1
 Perulangan ke  7 ,  2
Perulangan pertama Ke  8
 Perulangan ke  8 ,  1
 Perulangan ke  8 ,  2
Perulangan pertama Ke  9
 Perulangan ke  9 ,  1
 Perulangan ke  9 ,  2
var_nilai =  10  = 10. Bernilai False

## Latihan 6

In [5]:
#Deklarasi variabel
var_nilai = 0
var_i = 1
#Perulangan WHILE
while (var_nilai < 10) :
    print("Perulangan pertama Ke ",var_nilai)
    while(var_i < 3) :
        print(" Perulangan ke ", var_nilai,", ",var_i)
        var_i +=1
    #diluar perulangan var_i
    var_i = 1
    var_nilai +=1
#diluar_perulangan var_nilai
print("var_nilai = ",int(var_nilai)," = 10. Bernilai False")

Perulangan pertama Ke  0
 Perulangan ke  0 ,  1
 Perulangan ke  0 ,  2
Perulangan pertama Ke  1
 Perulangan ke  1 ,  1
 Perulangan ke  1 ,  2
Perulangan pertama Ke  2
 Perulangan ke  2 ,  1
 Perulangan ke  2 ,  2
Perulangan pertama Ke  3
 Perulangan ke  3 ,  1
 Perulangan ke  3 ,  2
Perulangan pertama Ke  4
 Perulangan ke  4 ,  1
 Perulangan ke  4 ,  2
Perulangan pertama Ke  5
 Perulangan ke  5 ,  1
 Perulangan ke  5 ,  2
Perulangan pertama Ke  6
 Perulangan ke  6 ,  1
 Perulangan ke  6 ,  2
Perulangan pertama Ke  7
 Perulangan ke  7 ,  1
 Perulangan ke  7 ,  2
Perulangan pertama Ke  8
 Perulangan ke  8 ,  1
 Perulangan ke  8 ,  2
Perulangan pertama Ke  9
 Perulangan ke  9 ,  1
 Perulangan ke  9 ,  2
var_nilai =  10  = 10. Bernilai False

## Latihan 7

In [6]:
#Deklarasi variabel
var_nilai = 0
var_i = 1
#Perulangan FOR
for var_nilai in range (0,10) :
    print("Perulangan pertama Ke ",var_nilai)
    while(var_i < 3) :
        print(" Perulangan ke ", var_nilai,", ",var_i)
        var_i +=1
    #diluar perulangan var_i
    var_i = 1
#diluar_perulangan var_nilai
print("var_nilai = ",int(var_nilai)+1," = 10. Bernilai False")

Perulangan pertama Ke  0
 Perulangan ke  0 ,  1
 Perulangan ke  0 ,  2
Perulangan pertama Ke  1
 Perulangan ke  1 ,  1
 Perulangan ke  1 ,  2
Perulangan pertama Ke  2
 Perulangan ke  2 ,  1
 Perulangan ke  2 ,  2
Perulangan pertama Ke  3
 Perulangan ke  3 ,  1
 Perulangan ke  3 ,  2
Perulangan pertama Ke  4
 Perulangan ke  4 ,  1
 Perulangan ke  4 ,  2
Perulangan pertama Ke  5
 Perulangan ke  5 ,  1
 Perulangan ke  5 ,  2
Perulangan pertama Ke  6
 Perulangan ke  6 ,  1
 Perulangan ke  6 ,  2
Perulangan pertama Ke  7
 Perulangan ke  7 ,  1
 Perulangan ke  7 ,  2
Perulangan pertama Ke  8
 Perulangan ke  8 ,  1
 Perulangan ke  8 ,  2
Perulangan pertama Ke  9
 Perulangan ke  9 ,  1
 Perulangan ke  9 ,  2
var_nilai =  10  = 10. Bernilai False